.ui-slider {
	width: 500px;
}


/* custom styles */
.section-title {
	text-align: center;
}

.map-player-select {
	margin-bottom: 10px;
}

/* From http://bl.ocks.org/mbostock/1705868*/
circle {
	stroke: #fff;
	stroke-width: 3px;
}
path {
	fill: none;
	stroke: #000;
	stroke-width: 0px;
}

body {
	/*background-color: #8585ad;*/
	background-color: #333;  
   	color: #999;
   	font: 12px/1.4em 'Open Sans', sans-serif;
   	/*font: 12px/1.4em 'IM Fell Double Pica SC', serif;*/
}

#viz-intro {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	font: 14px 'Open Sans', sans-serif;
}

#glossary {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	font: 14px 'Open Sans', sans-serif;
}

#wrap {
   margin: 10px auto;        
   background: #666;
   padding: 10px;
   width: 700px;
}

#header {
   background-color: #666;
   color: #FFF;
   z-index: 1;
   position: relative;
}

#navWrap {
   height: 30px;
}

#nav {
   padding: 5px;
   background: #999;    
}

#nav ul {
   margin: 0;
   padding: 0;    
}

#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #FFF;
   margin: 0 10px 0 0;
   color: #F00;
   list-style-type: none;
}

#nav li a {
   color: #F00;  
   text-decoration: none;    
}

#nav li a:hover {
   text-decoration: underline;   
}

.hero {
	background: url("../img/morgana_vs_ahri_3.jpg") no-repeat;
	background-size: cover;
	opacity: .8;
	height: 100vh;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
    opacity: .8;
}

.hero .intro {
	padding: 3rem;
	position: relative;
	top: 30%;
	transform: translateY(-50%); 
}

.hero h1 {
	color: #fff;
	/*font-size: 1.5rem;*/
	line-height: 1.5em;
	letter-spacing: -0.025em;
	/*font-weight: 300;*/
	/*text-align: center; */
}

.hero h3 {
	color: #fff;
	line-height: 1.75em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 2rem; 
}

@media only screen and (min-width: 40.063em) {
	.hero .tech-img {
		height: 18rem;
		width: 18rem;
	}

	.hero h1 {
	  	padding-top: 4.5rem;
	  	text-align: center;
	  	font-size: 8rem;
	}

	.hero h3 {
		text-align: center;
		font-size: 2rem;
	}
}


#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
	z-index: 0;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background-color: #999;
	opacity: .8;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin h4 {
	text-align: center;
	margin-top: 0px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 7px;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#viz-intro-header {
	margin-top: 30px;
	text-align: center;
}

#player-profile-header {
	margin-top: 30px;
	text-align: center;
}

#glossary-header {
	margin-top: 30px;
	text-align: center;
}

.prof-sep {
	width: 75%;
}

.p-profile {
	margin-left: 100px;
	margin-right: 100px;
}

.p-stats {
	color: #ff4d4d;
}

